WebContent/WEB-INF/bower_components

/build
/nbproject
/WebContent/WEB-INF/nbproject
/WebContent/WEB-INF/node_modules
/WebContent/WEB-INF/semantic
/WebContent/WEB-INF/static
/WebContent/WEB-INF/vendor
/WebContent/WEB-INF/template
/WebContent/WEB-INF/CSS/Semantic-UI-CSS-master
/WebContent/WEB-INF/bower_components